![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas DataFrame exercises

In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

In [16]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

1.1.5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame creation

### Create an empty pandas DataFrame

In [17]:
#Â your code goes here

df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [18]:
df = pd.DataFrame(data=[None],
             index=[None],
             columns=[None])
df

      NaN
NaN  None

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Create a `marvel_df` pandas DataFrame with the given marvel data

In [19]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [20]:
#Â your code goes here

marvel_df = pd.DataFrame(data=marvel_data)

In [21]:
marvel_df = pd.DataFrame(data=marvel_data)

marvel_df

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Add column names to the `marvel_df`

In [22]:
#Â your code goes here

col_names = ['Superhero', 'Gender', 'Year']
marvel_df.columns = col_names
marvel_df

           Superhero  Gender  Year
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

In [23]:
col_names = ['name', 'sex', 'first_appearance']

marvel_df.columns = col_names
marvel_df

                name     sex  first_appearance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Add index names to the `marvel_df` (use the character name as index)

In [24]:
#Â your code goes here

marvel_df.index = marvel_df['name']

In [25]:
marvel_df.index = marvel_df['name']
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Namor                        Namor    male              1939
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Hank Pym                  Hank Pym    male              1962
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Drop the name column as it's now the index

In [26]:
#Â your code goes here

# marvel_df = marvel_df.drop('name', axis='columns') or axis=1
# marvel_df = marvel_df.drop(columns=['name'])
# marvel_df = marvel_df.drop(['name'], axis=1)

marvel_df.drop('name', axis='columns', inplace=True)
marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Drop 'Namor' and 'Hank Pym' rows

In [27]:
#Â your code goes here

#marvel_df = marvel_df.drop(['Namor', 'Hank Pym'], axis=0)
#marvel_df.drop(['Namor', 'Hank Pym'], axis=o, inplace=True)
#marvel_df = marvel_df.drop(['Namor', 'Hank Pym'], axis='rows')
marvel_df = marvel_df.drop(['Namor', 'Hank Pym']) # Si no especifico nada trabaja a nivel de rows.
marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame selection, slicing and indexation

###Â Show the first 5 elements on `marvel_df`

In [28]:
#Â your code goes here

# marvel_df.head()

marvel_df[:5]

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

In [29]:
marvel_df.head()

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

In [30]:
marvel_df['Spider-Man':'Thor']

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

In [32]:
marvel_df.loc[['Spider-Man', 'Captain America', 'Wolverine', 'Iron Man', 'Thor']]

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

In [39]:
#marvel_df.loc[['Spider-Man', 'Captain America', 'Wolverine', 'Iron Man', 'Thor'], :] # bad!
#marvel_df.loc['Spider-Man': 'Thor', :]
#marvel_df.iloc[0:5, :]
#marvel_df.iloc[0:5,]
marvel_df.iloc[:5,]
#marvel_df.head()

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Show the last 5 elements on `marvel_df`

In [44]:
#Â your code goes here

marvel_df.tail()

                   sex  first_appearance
name
Doctor Strange    male              1963
Scarlet Witch   female              1964
Wasp            female              1963
Black Widow     female              1964
Vision            male              1968

In [46]:
marvel_df[-5:]

                   sex  first_appearance
name
Doctor Strange    male              1963
Scarlet Witch   female              1964
Wasp            female              1963
Black Widow     female              1964
Vision            male              1968

In [ ]:
#marvel_df.loc[['Hank Pym', 'Scarlet Witch', 'Wasp', 'Black Widow', 'Vision'], :] # bad!
#marvel_df.loc['Hank Pym':'Vision', :]
marvel_df.iloc[-5:,]
#marvel_df.tail()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Show just the sex of the first 5 elements on `marvel_df`

In [47]:
#Â your code goes here

marvel_df[]

In [48]:
#marvel_df.iloc[:5,]['sex'].to_frame()
marvel_df.iloc[:5,].sex.to_frame()
#marvel_df.head().sex.to_frame()

                  sex
name
Spider-Man       male
Captain America  male
Wolverine        male
Iron Man         male
Thor             male

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Show the first_appearance of all middle elements on `marvel_df`

In [ ]:
#Â your code goes here

In [ ]:
marvel_df.iloc[1:-1,].first_appearance.to_frame()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Show the first and last elements on `marvel_df`

In [ ]:
#Â your code goes here

In [ ]:
#marvel_df.iloc[[0, -1],][['sex', 'first_appearance']]
marvel_df.iloc[[0, -1],]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
#Â your code goes here

In [ ]:
marvel_df.loc['Vision', 'first_appearance'] = 1964

marvel_df

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
#Â your code goes here

In [ ]:
marvel_df['years_since'] = 2018 - marvel_df['first_appearance']

marvel_df

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame boolean arrays (also called masks)

### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [ ]:
#Â your code goes here

In [ ]:
mask = marvel_df['sex'] == 'female'

mask

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
#Â your code goes here

In [ ]:
mask = marvel_df['sex'] == 'male'

marvel_df[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
#Â your code goes here

In [ ]:
mask = marvel_df['first_appearance'] > 1970

marvel_df[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
#Â your code goes here

In [ ]:
mask = (marvel_df['sex'] == 'female') & (marvel_df['first_appearance'] > 1970)

marvel_df[mask]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame summary statistics

###Â Show basic statistics of `marvel_df`

In [ ]:
#Â your code goes here

In [ ]:
marvel_df.describe()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
#Â your code goes here

In [ ]:

#np.mean(marvel_df.first_appearance)
marvel_df.first_appearance.mean()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
#Â your code goes here

In [ ]:
#np.min(marvel_df.first_appearance)
marvel_df.first_appearance.min()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
#Â your code goes here

In [ ]:
mask = marvel_df['first_appearance'] == marvel_df.first_appearance.min()
marvel_df[mask]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame basic plottings

### Reset index names of `marvel_df`

In [ ]:
#Â your code goes here

In [ ]:
marvel_df = marvel_df.reset_index()

marvel_df

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Plot the values of `first_appearance`

In [ ]:
#Â your code goes here

In [ ]:
#plt.plot(marvel_df.index, marvel_df.first_appearance)
marvel_df.first_appearance.plot()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

###Â Plot a histogram (plot.hist) with values of `first_appearance`

In [ ]:
#Â your code goes here

In [ ]:

plt.hist(marvel_df.first_appearance)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)